
@font-face {
    font-family:'CrossStichDelicate';
    src: url('fonts/crossstitchdelicate.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(imagens/background3.jpg);
    background-color: rgb(252, 253, 238);
    background-size: cover ;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#container{
    width: 555px;
    height: fit-content;
    margin: 30px auto;
    background-color: antiquewhite;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: url(imagens/background-div.jpg);
    text-align: center;
    border-style: dotted;
    border-color:  rgb(145, 128, 128);
}

h1{
    font-family: 'CrossStichDelicate';
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

img{
    max-height: 170px;
    height: auto;
    width: auto;
    margin: 0px auto 10px;
    border-radius: 100px;
}


div{
    text-align: center;
}

#forms{
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    /* vertical-align: middle; */
}

#form-add-todo{
    display: flex;
    width: fit-content;
    margin: 10px;
    gap: 0.5rem;
    padding: 10px;
}

#task{
    background-color: rgb(253, 243, 244);
    border: none;
    padding: 3px;
    border-radius: 30px;
    width: min-content;
}

#form-add-todo button{
    background-color:  rgb(145, 128, 128);
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    margin-left: 8px;
}

#p1, #p2, #p3, #p4, #p5, #p6{
    font-size: smaller;
}

#botao:hover{
    background-color: rgb(228, 38, 38);
}

#lists{
    display: flex;
    /* box-sizing: border-box; */
}
#todo-list{
    list-style: none;
    word-wrap: break-word;
    padding: 0;
    /* border: 1px solid rgb(233, 219, 219); */
    /* display: inline-flex; */
    margin-left: 18px;
    margin-right: auto;
    /* width: fit-content; */
    width: 15.3rem;
    background-color:rgb(253, 243, 244);
    border-radius: 20px;
    padding-bottom: 15px;
    
}

#todo-list-checked{
    word-wrap: break-word;
    padding: 0;
    margin-left: auto;
    margin-right: 18px;
    width: 15.3rem;
    background-color: rgb(253, 243, 244);
    list-style-position: inside;
    border-radius: 20px;
    padding-bottom: 15px;
    list-style: none;
}

#todo-list li{
    text-align: left;
    margin-left: 7px;
}

#todo-list-checked li{
    text-align: left;
    margin-left: 7px;
}

#todo-list:empty::after{
    content: "Arrasou! Você terminou suas tarefas!"
}






