

body{
    background-image: url(imagens/background2.jpg);
    background-size: cover ;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#container{
    width: 555px;
    height: fit-content;
    margin: 30px auto;
    background-color: antiquewhite;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: url(imagens/background-div.jpg);
    background-size: cover;
    text-align: center;
    border-style: dotted;
    border-color: rgb(240, 23, 23);
}

h1{
    font-family: "Borel", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color:  rgb(240, 23, 23);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}

img{
    max-height: 160px;
    height: auto;
    width: auto;
    margin: 0px auto 10px;
    border-radius: 100px;
    border-width: 3px;
    border-color:  rgb(240, 23, 23);
}


div{
    text-align: center;
}

#forms{
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
}

#form-add-todo{
    display: flex;
    width: fit-content;
    margin: 10px;
    gap: 0.5rem;
}

#task{
    background-color: rgb(253, 243, 244);
    border: none;
    padding: 3px;
    border-radius: 30px;
    width: min-content;
}

#form-add-todo button{
    background-color: rgb(145, 128, 128);
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    margin-left: 8px;
    
}

#p1, #p2, #p3, #p4, #p5, #p6{
    font-size: smaller;
}

#botao:hover{
    background-color: rgb(229, 255, 0);
}

#lists{
    display: flex;
}
#todo-list{
    list-style: none;
    word-wrap: break-word;
    padding: 0;
    display: block;
    margin-left: 1.6rem;
    margin-right: auto;
    width: 15.3rem;
    background-color:rgb(253, 243, 244);
    border-radius: 20px;
    padding-bottom: 15px;
}

#todo-list-checked{
    word-wrap: break-word;
    padding: 0;
    margin-left: auto;
    margin-right: 1.6rem;
    width: 15.3rem;
    background-color: rgb(253, 243, 244);
    list-style-position: inside;
    border-radius: 20px;
    padding-bottom: 15px;
    list-style: none;
    
}

#todo-list-checked li{
    text-align: left;
    margin-left: 10px;
} 


legend{
    background-color: rgb(253, 243, 244);
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

#input-add-todo legend, #input-add-todo input{
    width: 15.3rem;
    
}

#input-add-prioridade legend{
    padding-left: 11px;
    padding-right: 11px;
    width: 11.5rem;
}

h3{
    font-family: "Borel", cursive;
    font-weight: 300;
    font-style: normal;
}

#todo-list-p1, #todo-list-p2, #todo-list-p3, #todo-list-unchecked{
    word-wrap: break-word;
    height: fit-content;
    list-style: none;
    padding: 0px;
}



li{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 30px;
    word-wrap: break-word;
    padding: 0.2rem; 

    
}

li button{
    border: none; 
    background-color: transparent; 
    margin-left: auto; /* Empurra o botão para o fim */
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0;
}


.custom-icon{
    display: block; 
    width: 19px;
    height: 19px;
    background-image: url(icons/icone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

 li input{
    vertical-align: middle;
 }

#desenho-flor{
    max-width: 80px;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

